.header {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.app-wrapper {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gold;
  border: 1px solid black;
  width: 250px;
  height: 350px;
}

.game--card > img {
  width: 200px;
  height: 150px;
}